<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>VTuberが分かる99の質問</title>
  </head>

  <body>
    <header><h1>VTuberが分かる99の質問</h1></header>

    <div class="center">
      <div id="ask" v-if="seen">
        <div id="question">
          Q{{questionN+1}}. {{question}}
        </div>

        <input
          id="answer"
          v-model="answer"
          placeholder="質問の答えを入力"
          onChange="input()"
        />

        <br />

        <button onClick="next(true)">
          前の質問
        </button>
        <button onClick="next(false)">
          次の質問
        </button>
        <button id="result-button" onClick="showResult()">
          結果
        </button>
      </div>

      <div id="result" v-if="seen">
        <div id="result-id" v-for="(question, index) in questionList">
          <div id="result-q">Q{{index+1}}. {{question}}</div>
          <div id="answer">A{{index+1}}. {{answerList[index]}}</div>
        </div>
      </div>

      <div id="note">
        <p>ページから離れると何も残りません</p>
        <p>結果から、回答をコピペできます</p>
      </div>
    </div>

    <footer>
      <h2>
        <a href="https://twitter.com/tamayurasouki">製作者:珠響そうき</a>
      </h2>
      <h2>
        <a href="https://github.com/eteeeeeerminal/VTuber99Questions">GitHub</a>
      </h2>
    </footer>

    <!--開発バージョン-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="result.js"></script>
    <script src="ask.js"></script>
  </body>
</html>
