/*共通部分*/
header h1 {
  margin: auto;
  color: gray;
  font-weight: 200;
  font-family: serif;
}

footer {

  margin: auto;
  color: royalblue;
  font-weight: 200;
  font-family: serif;

  text-align: right;
  text-align: end;

  position: fixed;
  bottom: 5px;
  right: 5px;
}

body {
  background: linear-gradient(ivory, #fef263) fixed;
}

.center {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}

#note {
  margin-top: 5vh;
  padding: 10px;
  border: dashed 2px #e95464;

  display: inline-block;
  margin: 10px;
}

#note p {
  margin: 0;
}

/*回答部分*/
#question {
  color: rgba(32, 32, 32, 0.9);
  font-size: 4vw;
  font-weight: 600;
  padding: 20px;
  font-family: serif;
  filter: drop-shadow(5px 5px 24px rgba(255, 80, 0, 1));
  text-shadow: 1px 2px 0.5vw lightyellow;
}

#ask #answer {
  margin: 5px;
  margin-top: 20px;
  font-size: 1.8vw;
  border-radius: 3px;
  border: 2px solid #ddd;
  box-sizing: border-box;
}
#ask #answer:focus {
  box-shadow: 0 0 5px 0 #e95464;
  border: 2px solid #fff !important;
  outline: 0;
}

#ask button {
  border-radius: 1vw;
  font-size: 1.8vw;
  border: none;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  color: rgba(240, 100, 60, 1);
  background: lightyellow;
  transition: 0.4s;
}

#ask button:hover {
  background: rgba(240, 100, 60, 1);
  color: white;
}

#ask #result-button {
  color: #e95464;
}

#ask #result-button:hover {
  background: #e95464;
  color: white;
}

/*表示部分*/
#result-id {
  text-align: left;
  padding: 20px;
}
